.modal-container {
    background-color: #0005;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    place-items: center;
    transition: all .6s;
    z-index: 1;
}
.modal-body {
    background-color: var(--back);
    width: 40%;
    min-width: 400px;
    border-radius: 10px;
    position: absolute;
    padding: 1rem;
    display: flex;
}
.imagen-modal {
    display: grid;
    place-items: center;
}
.imagen-detalle {
    width: 300px;
    aspect-ratio: 8/10;
}
.tag {
    background-color: var(--color);
    color: #f2f2f2;
    padding-block: var(--gap-4);
    padding-inline: var(--gap-3);
    margin-inline-end: var(--gap-4);
    border-radius: 10px;
    text-transform: capitalize;
}
.data {
    display: grid;
    padding: var(--gap-3);
    gap: var(--gap-3);
}
.data .titulo {
    margin: 0;
    text-transform: capitalize;
    font-weight: 500;
}
.titulo-seccion {
    font-weight: 500;
}
.data section {
    background-color: var(--card);
    border-radius: 10px;
    padding: var(--gap-4);
    box-shadow: 4px 4px 4px #21212120;
}
.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .6rem;
}
.stats section {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-transform: capitalize;
}
.puntos {
    border: 2px solid #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
}
@media (max-width: 1200px) {
    .modal-body {
        width: 60%;
    }
    .imagen-detalle {
        width: 250px;
    }
}
@media (max-width: 992px) {
    .modal-body {
        width: 70%;
    }
    .imagen-detalle {
        width: 200px;
    }
}
@media (max-width: 768px) {
    .modal-body {
        width: 80%;
    }
    .imagen-detalle {
        width: 150px;
    }
    .stats {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 576px) {
    .modal-body {
        width: 90%;
    }
    .imagen-detalle {
        width: 120px;
    }
    .tag {
        padding-block: var(--gap-4);
        padding-inline: var(--gap-4);
        margin-inline-end: var(--gap-4);
    }
    .data section {
        padding: var(--gap-4);
    }
    .puntos {
        width: 25px;
        height: 25px;
    }
}