:root{
    --back: #fff;
    --card: #eee;
    --text: #111;

    --gap-0: 3rem;
    --gap-1: 1.5rem;
    --gap-2: 1rem;
    --gap-3: .6rem;
    --gap-4: .3rem;
    

    --color: #26e;

}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Lato", sans-serif;
}
body{
    background-color: var(--back);
    color: var(--text);
}
[data-tema='oscuro']{
    --back: #1E1E1E;
    --card: #454A54;
    --text: #eee;
}